@import '../../resources/mixins';
@import '../../resources/colors';

.cc1-chat-win-rcvr-row {
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 65%;

    .cc1-chat-win-msg-block {
        flex: 1 1;
        position: relative;
        width: 100%;

        .cc1-chat-win-rcvr-thumbnail-wrap {
            width: 36px;
            float: left;
            margin: 7px 0;
        }

        .cc1-chat-win-rcvr-dtls {
            flex: 1 1;
            display: flex;
            flex-direction: column;
            position:relative;
            margin: 0 5px;

            .cc1-chat-win-rcvr-name-wrap {
                align-self: flex-start;

                .cc1-chat-win-rcvr-name {
                    font-size: 10px;
                    color: $secondary;
                }
            }

            .cc1-chat-win-rcvr-img-wrap {
                display:inline-block;
                border-radius:12px;
                align-self: flex-start;

                img {
                    max-width: 250px;
                }
            }

            .cc1-chat-win-rcvr-name-wrap + .cc1-chat-win-rcvr-msg-actions {
                top: -15px;
            }
            
            .cc1-chat-win-msg-time-wrap {
                align-self: flex-start;
        
                .cc1-chat-win-timestamp {
                    display:inline-block;
                    font-size:11px;
                    font-weight:500;
                    letter-spacing:-.1px;
                    line-height:12px;
                    text-transform:uppercase;
                    color: $secondary;
                }
            }

            &:hover .cc1-chat-win-rcvr-msg-actions {
                display: inline-flex;
            }
        } 
    }
}
