.cometchat-stream-message-bubble * {
  box-sizing: border-box;
  max-width: 100%;
  overflow: hidden;
  line-height: 1.75;
  margin: 0;
  margin-bottom: var(--cometchat-margin-2);
}

.cometchat-stream-message-bubble .cometchat-stream-message-bubble__copy {
  mask: url("../../assets/Copy.svg") center center no-repeat;
  -webkit-mask: url("../../assets/Copy.svg") center center no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  align-self: flex-start;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 20px;
  width: 20px;
  background: var(--cometchat-icon-color-secondary);

}

.cometchat:has(> .cometchat-stream-message-bubble) {
  margin-top: calc(var(--cometchat-margin-1) * -1)
}

.cometchat-stream-message-bubble {
  overflow: hidden;
  text-align: left;
}

.cometchat-message-bubble__wrapper {
  align-items: center;
}


/* Target all <p> tags without a class */
.cometchat-stream-message-bubble>p:not([class]) {
  text-align: left;
}

.cometchat-stream-message-bubble>ol:not([class]) {
  padding-left: 0px !important;
  margin-top: 0px !important;
  text-align: left !important;

}

.cometchat-stream-message-bubble img,
.cometchat-stream-message-bubble pre,
.cometchat-stream-message-bubble canvas,
.cometchat-stream-message-bubble svg,
.cometchat-stream-message-bubble video,
.cometchat-stream-message-bubble figure,
.cometchat-stream-message-bubble table {
  vertical-align: top;
}

.cometchat-stream-message-bubble input[type="checkbox"] {
  margin-right: var(--cometchat-margin-1);
  position: relative;
  top: 1px;
}

.cometchat-stream-message-bubble li:not([class]) {
  text-align: left !important;

}

.cometchat-stream-message-bubble ol:not([class]),.cometchat-stream-message-bubble  ul:not([class]) {
  padding-left: var(--cometchat-padding-5) !important;
  text-align: left !important;

}

.cometchat-stream-message-bubble ul:not([class]) {
  text-align: left !important;

}
.cometchat-stream-message-bubble__code-block {
  max-height: 300px;
  overflow: auto;
  border: 1px solid var(--cometchat-border-color-default);
  width: 100%;

}

.cometchat-stream-message-bubble *:not(pre *) {
  color: var(--cometchat-text-color-primary);
  font-size: 14px;
  font-family: var(--cometchat-font-family);
}
.cometchat-stream-message-bubble .cometchat-stream-message-bubble__code-block,.cometchat-stream-message-bubble .cometchat-stream-message-bubble__code-block *{
  font-size: 14px;
}
.cometchat-stream-message-bubble__thinking {
  border-radius: 16px;
  animation: fadeIn 0.5s ease;
  position: relative;
  overflow: hidden;
  color: #717680;
  font: var(--cometchat-font-body-regular);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-self: flex-start;
  height: fit-content;
  width: fit-content;
  min-width: fit-content;
  padding-top: 1px;
}


.cometchat-stream-message-bubble__thinking::after {
  content: '';
  position: absolute;
  top: 0;
  left: -60%;
  width: 60%;
  height: 100%;
  background: var( --cometchat-text-shimmer-gradient-color);
  animation: shimmer 1.5s infinite;
  pointer-events: none;
  opacity: 0.7;
}

.cometchat-stream-message-bubble__tool-call-text {
  width: fit-content;
  text-align: left;
  color: var(--cometchat-text-color-secondary);
  padding-top: 1px;

}

.cometchat-stream-message-bubble__thinking {
  align-items: flex-start;
  border-radius: 0px;
}

.cometchat-stream-message-bubble__thinking>.cometchat-stream-message-bubble__thinking-text {
  border-radius: 0px;
  color: var(--cometchat-text-color-secondary);
}
.cometchat-stream-message-bubble__code-block::-webkit-scrollbar {
  width: 0px;
  height: 8px;
  background: transparent;
}

.cometchat-stream-message-bubble__code-block::-webkit-scrollbar-track {
  background: transparent;
}

.cometchat-stream-message-bubble__code-block::-webkit-scrollbar-thumb {
  background: var(--cometchat-icon-color-secondary);
  border-radius: 4px;
}

.cometchat-stream-message-bubble table {
  width: fit-content;
  max-width: 100%;
  table-layout: auto;
  display: block;
  overflow-x: auto;
  border-radius: var(--cometchat-radius-2);
  margin: var(--cometchat-margin-2) 0;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
}

/* Round only outer cells */
.cometchat-stream-message-bubble tr:first-child th:first-child {
  border-top-left-radius: var(--cometchat-radius-2);
}
.cometchat-stream-message-bubble tr:first-child th:last-child {
  border-top-right-radius: var(--cometchat-radius-2);
}
.cometchat-stream-message-bubble tr:last-child td:first-child {
  border-bottom-left-radius: var(--cometchat-radius-2);
}
.cometchat-stream-message-bubble tr:last-child td:last-child {
  border-bottom-right-radius: var(--cometchat-radius-2);
}
.cometchat-stream-message-bubble th,
.cometchat-stream-message-bubble td {
  padding: var(--cometchat-padding-2);
  border: 1px solid var(--cometchat-border-color-dark);
  width: fit-content;
  max-width: 100%;
}
.cometchat-stream-message-bubble table::-webkit-scrollbar {
  width: 0px;
  height: 8px;
  background: transparent;
}

.cometchat-stream-message-bubble table::-webkit-scrollbar-track {
  background: transparent;
}

.cometchat-stream-message-bubble table::-webkit-scrollbar-thumb {
  background: var(--cometchat-icon-color-secondary);
  border-radius: var(--cometchat-radius-2);
}

.cometchat-stream-message-bubble th,
.cometchat-stream-message-bubble td {
  padding: var(--cometchat-padding-2);
  border: 1px solid var(--cometchat-border-color-dark);
  width: fit-content;
  max-width: 100%;
}
.cometchat-stream-message-bubble td{
  text-align: left !important;
}
.cometchat-stream-message-bubble th{
  text-align: center !important;
}
.cometchat-stream-message-bubble th{
  background: var(--cometchat-background-color-04);
}
.cometchat-stream-message-bubble .cometchat-stream-message-bubble__link{
  text-decoration: underline;
  color: var(--cometchat-text-color-highlight);
}

.cometchat-stream-message-bubble ul,.cometchat-stream-message-bubble ol,.cometchat-stream-message-bubble hr{
  margin: 0;
}
.cometchat-stream-message-bubble li{
  overflow: visible !important;
  padding: 0;
}
.cometchat-stream-message-bubble img{
  max-height: 300px;
  width: fit-content;
  border-radius: var(--cometchat-radius-2);
  margin-top: var(--cometchat-margin-2);
}

.cometchat-stream-message-bubble > *:first-child *:first-child:not(:has(*)) ~ img{
  margin-top: var(--cometchat-margin-1);
}

.cometchat-stream-message-bubble__image-intersection-start, .cometchat-stream-message-bubble__image-intersection-end{
  display: none;
}

.cometchat-stream-message-bubble .cometchat-stream-message-bubble__image-intersection-start:not(.cometchat-stream-message-bubble__image-intersection-end ~ .cometchat-stream-message-bubble__image-intersection-start, input[type="checkbox"] ~ .cometchat-stream-message-bubble__image-intersection-start) {
  display: block;
  margin-top: -0.5em;
}

.cometchat-stream-message-bubble .cometchat-stream-message-bubble__image-intersection-start:is(input[type="checkbox"] ~ .cometchat-stream-message-bubble__image-intersection-start) ~ img{
  margin-top: var(--cometchat-margin-1);
}

.cometchat-stream-message-bubble .cometchat-stream-message-bubble__image-intersection-end:not(:has(+ .cometchat-stream-message-bubble__image-intersection-start)) {
  display: block;
}

.cometchat-stream-message-bubble .cometchat-stream-message-bubble__image-intersection-end:last-child {
  margin-bottom: 0;
}

.cometchat-stream-message-bubble > ol:first-child > li:first-child,
.cometchat-stream-message-bubble > ul:first-child > li:first-child
{
  padding-top: 0px;
}

.cometchat-stream-message-bubble h1,
.cometchat-stream-message-bubble h2,
.cometchat-stream-message-bubble h3,
.cometchat-stream-message-bubble h4,
.cometchat-stream-message-bubble h5,
.cometchat-stream-message-bubble h6 {
  font-size: initial;
  padding: var(--cometchat-padding-2) 0px;
  margin: 0;
}
.cometchat-stream-message-bubble > h1:first-child,
.cometchat-stream-message-bubble > h2:first-child,
.cometchat-stream-message-bubble > h3:first-child,
.cometchat-stream-message-bubble > h4:first-child,
.cometchat-stream-message-bubble > h5:first-child,
.cometchat-stream-message-bubble > h6:first-child {
  padding-top: 0px;
}

.cometchat-stream-message-bubble__image-intersection-start, .cometchat-stream-message-bubble__image-intersection-end{
  display: none;
}

.cometchat-stream-message-bubble .cometchat-stream-message-bubble__image-intersection-start:not(.cometchat-stream-message-bubble__image-intersection-end ~ .cometchat-stream-message-bubble__image-intersection-start) {
  display: block;
  margin-top: -0.5em;
}
.cometchat-stream-message-bubble .cometchat-stream-message-bubble__image-intersection-end:not(:has(+ .cometchat-stream-message-bubble__image-intersection-start)) {
  display: block;
}

.cometchat-stream-message-bubble .cometchat-stream-message-bubble__image-intersection-end:last-child {
  margin-bottom: 0;
}

.cometchat-stream-message-bubble > ul:first-child li:first-child > p:first-child{
padding-top: 0px;
}
.cometchat-stream-message-bubble > ol:first-child li:first-child > p:first-child{
padding-top: 0px;
}

.cometchat-stream-message-bubble > p:first-child{
  padding-top: 0px;

}
@keyframes shimmer {
  0% {
    left: -60%;
  }

  100% {
    left: 100%;
  }
}