/* Bottom view for "blocked" messages inside message bubble */
.cometchat-moderation-status__icon{
    min-width: 16px;
    min-height: 16px;
    -webkit-mask: url("../../assets/message_blocked.svg") center center no-repeat;
    -webkit-mask-size: contain;
    background-color: var(--cometchat-error-color);
    display: inline-block;
}

.cometchat-moderation-status {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: var(--cometchat-error-color-100);
    padding: var(--cometchat-padding-1) var(--cometchat-padding-2);
    gap: var(--cometchat-spacing-1, 4px);
    border-radius: 0 0 var(--cometchat-radius-3, 12px) var(--cometchat-radius-3, 12px);
}

.cometchat-moderation-status .cometchat-moderation-status__message {
    color: var(--cometchat-error-color, #F44649);
    text-align: left;
    font: var(--cometchat-font-body-regular);
    margin: 0;
}