.cometchat-ai-assistant-message-bubble {
  flex-direction: column;
  display: flex;
  text-align: left;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.cometchat-ai-assistant-message-bubble * {
  box-sizing: border-box;
  max-width: 100%;
  overflow: hidden;
  line-height: 1.75;
  margin: 0;
  margin-bottom: var(--cometchat-margin-2);
}

.cometchat:has(> .cometchat-ai-assistant-message-bubble) {
  margin-top: calc(var(--cometchat-margin-1) * -1)
}

.cometchat-ai-assistant-message-bubble>p:not([class]) {
  text-align: left;
  color: var(--cometchat-text-color-primary);
}

.cometchat-ai-assistant-message-bubble ol:not([class]) {
  padding-left: 0px !important;
  margin-top: 0px !important;
  text-align: left !important;
  color: var(--cometchat-text-color-primary);

}

.cometchat-ai-assistant-message-bubble li:not([class]) {
  text-align: left !important;
  color: var(--cometchat-text-color-primary);

}

.cometchat-ai-assistant-message-bubble img,
.cometchat-ai-assistant-message-bubble pre,
.cometchat-ai-assistant-message-bubble canvas,
.cometchat-ai-assistant-message-bubble svg,
.cometchat-ai-assistant-message-bubble video,
.cometchat-ai-assistant-message-bubble figure,
.cometchat-ai-assistant-message-bubble table {
  vertical-align: top;
}

.cometchat-ai-assistant-message-bubble input[type="checkbox"] {
  margin-right: var(--cometchat-margin-1);
  position: relative;
  top: 1px;
}

.cometchat-ai-assistant-message-bubble ol:not([class]),.cometchat-ai-assistant-message-bubble ul:not([class]) {
  padding-left: var(--cometchat-padding-5) !important;
  text-align: left !important;
  color: var(--cometchat-text-color-primary);

}

.cometchat-ai-assistant-message-bubble ul:not([class]) {
  text-align: left !important;
  color: var(--cometchat-text-color-primary);

}

.cometchat-ai-assistant-message-bubble__code-block {
  max-height: 300px;
  overflow: auto;
  border: 1px solid var(--cometchat-border-color-default);
  width: 100%;
}



.cometchat-ai-assistant-message-bubble *:not(pre *) {
  color: var(--cometchat-text-color-primary);
  font-size: 14px;
  font-family: var(--cometchat-font-family);
}
.cometchat-ai-assistant-message-bubble .cometchat-ai-assistant-message-bubble__code-block,.cometchat-ai-assistant-message-bubble .cometchat-ai-assistant-message-bubble__code-block *{
  font-size: 14px;
}

.cometchat-ai-assistant-message-bubble__code-block::-webkit-scrollbar {
  width: 0px;
  height: 8px;
  background: transparent;
}

.cometchat-ai-assistant-message-bubble__code-block::-webkit-scrollbar-track {
  background: transparent;
}

.cometchat-ai-assistant-message-bubble__code-block::-webkit-scrollbar-thumb {
  background: var(--cometchat-icon-color-secondary);
  border-radius: var(--cometchat-radius-2);
}

.cometchat-ai-assistant-message-bubble table {
  width: fit-content;
  max-width: 100%;
  table-layout: auto;
  display: block;
  overflow-x: auto;
  border-radius: var(--cometchat-radius-2);
  margin: var(--cometchat-margin-2) 0;
  border-collapse: separate;
  border-spacing: 0;
  overflow: scroll;
}

/* Round only outer cells */
.cometchat-ai-assistant-message-bubble tr:first-child th:first-child {
  border-top-left-radius: var(--cometchat-radius-2);
}
.cometchat-ai-assistant-message-bubble tr:first-child th:last-child {
  border-top-right-radius: var(--cometchat-radius-2);
}
.cometchat-ai-assistant-message-bubble tr:last-child td:first-child {
  border-bottom-left-radius: var(--cometchat-radius-2);
}
.cometchat-ai-assistant-message-bubble tr:last-child td:last-child {
  border-bottom-right-radius: var(--cometchat-radius-2);
}
.cometchat-ai-assistant-message-bubble th,
.cometchat-ai-assistant-message-bubble td {
  padding: var(--cometchat-padding-2);
  border: 1px solid var(--cometchat-border-color-dark);
  width: fit-content;
  max-width: 100%;
}

.cometchat-ai-assistant-message-bubble table::-webkit-scrollbar {
  width: 0px;
  height: 8px;
  background: transparent;
}

.cometchat-ai-assistant-message-bubble table::-webkit-scrollbar-track {
  background: transparent;
}

.cometchat-ai-assistant-message-bubble table::-webkit-scrollbar-thumb {
  background: var(--cometchat-icon-color-secondary);
  border-radius: var(--cometchat-radius-2);
}

.cometchat-ai-assistant-message-bubble td{
  text-align: left !important;
}
.cometchat-ai-assistant-message-bubble th{
  text-align: center !important;
}
.cometchat-ai-assistant-message-bubble th{
  background: var(--cometchat-background-color-04);
}
.cometchat-ai-assistant-message-bubble .cometchat-ai-assistant-message-bubble__link{
  text-decoration: underline;
  color: var(--cometchat-text-color-highlight);
}
.cometchat-ai-assistant-message-bubble ul,.cometchat-ai-assistant-message-bubble ol,.cometchat-ai-assistant-message-bubble hr{
  margin: 0;
}
.cometchat-ai-assistant-message-bubble li{
  overflow: visible !important;
  padding: 0;
}
.cometchat-ai-assistant-message-bubble > ol:first-child > li:first-child,
.cometchat-ai-assistant-message-bubble > ul:first-child > li:first-child
{
  padding-top: 0px;
}

.cometchat-ai-assistant-message-bubble h1,
.cometchat-ai-assistant-message-bubble h2,
.cometchat-ai-assistant-message-bubble h3,
.cometchat-ai-assistant-message-bubble h4,
.cometchat-ai-assistant-message-bubble h5,
.cometchat-ai-assistant-message-bubble h6 {
  font-size: initial;
  padding: var(--cometchat-padding-2) 0px;
  margin: 0;
}

.cometchat-ai-assistant-message-bubble > *:first-child *:first-child:not(:has(*)) ~ img{
  margin-top: var(--cometchat-margin-1);
}

.cometchat-ai-assistant-message-bubble > h1:first-child,
.cometchat-ai-assistant-message-bubble > h2:first-child,
.cometchat-ai-assistant-message-bubble > h3:first-child,
.cometchat-ai-assistant-message-bubble > h4:first-child,
.cometchat-ai-assistant-message-bubble > h5:first-child,
.cometchat-ai-assistant-message-bubble > h6:first-child {
  padding-top: 0px;
}
.cometchat-ai-assistant-message-bubble img{
  max-height: 300px;
  width: fit-content;
  border-radius: var(--cometchat-radius-2);
  margin-top: var(--cometchat-margin-2);
}

.cometchat-ai-assistant-message-bubble__image-intersection-start, .cometchat-ai-assistant-message-bubble__image-intersection-end{
  display: none;
}

.cometchat-ai-assistant-message-bubble .cometchat-ai-assistant-message-bubble__image-intersection-start:not(.cometchat-ai-assistant-message-bubble__image-intersection-end ~ .cometchat-ai-assistant-message-bubble__image-intersection-start, input[type="checkbox"] ~ .cometchat-ai-assistant-message-bubble__image-intersection-start) {
  display: block;
  margin-top: -0.5em;
}

.cometchat-ai-assistant-message-bubble .cometchat-ai-assistant-message-bubble__image-intersection-start:is(input[type="checkbox"] ~ .cometchat-ai-assistant-message-bubble__image-intersection-start) ~ img{
  margin-top: var(--cometchat-margin-1);
}

.cometchat-ai-assistant-message-bubble .cometchat-ai-assistant-message-bubble__image-intersection-end:not(:has(+ .cometchat-ai-assistant-message-bubble__image-intersection-start)) {
  display: block;
}

.cometchat-ai-assistant-message-bubble .cometchat-ai-assistant-message-bubble__image-intersection-end:last-child {
  margin-bottom: 0;
}

.cometchat-ai-assistant-message-bubble > ul:first-child li:first-child > p:first-child{
padding-top: 0px;
}
.cometchat-ai-assistant-message-bubble > ol:first-child li:first-child > p:first-child{
padding-top: 0px;
}

.cometchat-ai-assistant-message-bubble > p:first-child{
  padding-top: 0px;

}