.cometchat-reactions {
    display: flex;
    padding: 3px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 2px;
    align-self: stretch;
    width: fit-content;
    height: fit-content;
}

.cometchat-reactions__reaction,
.cometchat-reactions__more-reaction {
    display: inline-flex;
    height: 24px;
    padding: 2px var(--cometchat-padding-1, 8px);
    align-items: center;
    gap: var(--cometchat-padding-1, 4px);
    flex-shrink: 0;
    border-radius: 20px;
    border: none;
    background: #353A54;
    cursor: pointer;
    font-size: 12px;
}

.cometchat-message-bubble-incoming .cometchat-reactions__reaction,
.cometchat-message-bubble-incoming .cometchat-reactions__more-reaction {
    background: #F5F8FA;
}

.cometchat-message-bubble-outgoing .cometchat-reactions__reaction,
.cometchat-message-bubble-outgoing .cometchat-reactions__more-reaction {
    background: #353A54;
}

.cometchat-message-bubble-outgoing .cometchat-reactions__reaction-count,
.cometchat-message-bubble-outgoing .cometchat-reactions__more-reaction-count {
    color: var(--cometchat-neutral-color-300, #ffffff);
}

.cometchat-message-bubble-incoming .cometchat-reactions__reaction-count,
.cometchat-message-bubble-incoming .cometchat-reactions__more-reaction-count {
    color: var(--cometchat-text-color-primary, #494F73);
}

.cometchat-reactions__reaction-you .cometchat-reactions__reaction-count,
.cometchat-reactions__reaction-you .cometchat-reactions__more-reaction-count {
    color: var(--cometchat-text-color-primary, #494F73);
}

.cometchat-reactions__reaction-you {
    display: inline-flex;
    height: 23px;
    padding: 2px var(--cometchat-padding-2, 8px);
    align-items: center;
    gap: var(--cometchat-padding-1, 4px);
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #5999F9;
    background: #D8E7FD;
}

.cometchat-reactions__reaction-emoji {
    color: var(--cometchat-text-color-primary, #141414);
    font: var(--cometchat-font-body-regular, 400 14px Roboto);
}

.cometchat-reactions__reaction-count,
.cometchat-reactions__more-reaction-count {
    color: var(--cometchat-text-color-primary, #141414);
}

.cometchat-reactions-info-wrapper .cometchat-popover__content {
    background: transparent;
    box-shadow: none;
    border: none;
}