@import '../../resources/mixins';
@import '../../resources/colors';

.cc1-chat-win-sndr-row {
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 65%;

    .cc1-chat-win-msg-block {
        flex: 1 1;
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;

        .cc1-chat-win-sndr-msg-wrap {
            display:inline-block;
            border-radius:12px;
            background-color:rgba(51,153,255,0.92);
            color:#fff;
            padding:8px 12px;
            align-self: flex-end;
            max-width:100%;

            .chat-txt-msg {
                font-size:15px;
                margin:0;
                letter-spacing:-.1px;
                line-height:20px;
                white-space: pre-wrap;
                word-wrap: break-word;
                text-align: left;
                max-width:100%;

                .emoji {
                    width: 20px;
                    height: 20px;
                    image-rendering: -webkit-optimize-contrast;
                    display: inline-block;
                    vertical-align: top;
                    zoom: 1;
                }
            }

            .chat-txt-msg.size1x {
                img {
                    width: 48px;
                    height: 48px;
                }
            }

            .chat-txt-msg.size2x {
                img {
                    width: 36px;
                    height: 36px;
                }
            }

            .chat-txt-msg.size2x {
                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }
        
        .cc1-chat-win-msg-time-wrap {
            align-self: flex-end;
            
            .cc1-chat-win-timestamp {
                display:inline-block;
                font-size:11px;
                font-weight:500;
                letter-spacing:-.1px;
                line-height:12px;
                @include text-uppercase;

                img {
                    margin-left:3px;
                    display:inline-block;
                    vertical-align:bottom;
                }
            }
        }

        .cc1-chat-win-msg-actions {
            left: 0;
        }

        &:hover .cc1-chat-win-msg-actions {
            display: inline-flex;
        }
    }
}
