@import '../../resources/mixins';
@import '../../resources/colors';

.cc1-chat-win-sndr-row {
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 65%;

    .cc1-chat-win-msg-block {
        flex: 1 1;
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;

        .cc1-chat-win-sndr-img-wrap {
            display:inline-block;
            border-radius:12px;
            align-self: flex-end;

            img {
                max-width: 250px;
            }
        }

        .cc1-chat-win-msg-time-wrap {
            align-self: flex-end;

            .cc1-chat-win-timestamp {
                display:inline-block;
                font-size:11px;
                font-weight:500;
                letter-spacing:-.1px;
                line-height:12px;
                @include text-uppercase;

                img {
                    margin-left:3px;
                    display:inline-block;
                    vertical-align:bottom;
                }
            }
        }

        .cc1-chat-win-msg-actions {
            left: 0;
        }

        &:hover .cc1-chat-win-msg-actions {
            display: inline-flex;
        }
    }
}