@import '../../../resources/core';


.cc1-chat-win-header {

    .cc1-chat-win-user {
        display:inline-block;
        float:left;

        .cc1-chat-win-user-thumb { 

            display:inline-block;
            width:36px;
            height:36px;
            margin-right:10px;
            vertical-align:middle;
            border-radius:24px;
            overflow:hidden;

            img {
                display:block;
                width:36px;
            } 
        }

        .cc1-chat-win-user-name-wrap {
            display:inline-block;
            vertical-align:middle;

            .cc1-chat-win-user-name {
                margin:0;
                font-size:15px;
                font-weight:600;
                letter-spacing:-.1px;
                line-height:22px;
            }

            .cc1-chat-win-user-status {
                font-size:13px;
                letter-spacing:-.1px;
                line-height:20px;
                text-transform: capitalize;
            }

            .cc1-chat-win-user-status.ccl-blue-color {
                color: $blue;
            }
        }
    }

    .cc1-chat-win-con-opt-wrap {
        display:inline-block;
        float:right;
        padding:8px 0;

        .cc1-chat-win-con-opt {
            display:inline-block;
            width:20px;
            height:20px;
            padding:2px;
            margin-left:20px;
            cursor: pointer;
        }

        .cc1-chat-win-con-opt.call {
            background:url(./resources/call-blue-icon.svg) center center no-repeat;
        }

        .cc1-chat-win-con-opt.video-call {
            background:url(./resources/video-call-blue-icon.svg) center center no-repeat;
        }

        .cc1-chat-win-con-opt.details {
            background:url(./resources/details-pane-blue-icon.svg) center center no-repeat;
        }
    }
}

.dark {
    .cc1-chat-win-header {
        background-color:$dark-background;
    }
}