@import '../../resources/mixins';
@import '../../resources/colors';

.cc1-chat-win-action-msg-wrap {
    padding:8px 12px;
    margin-bottom: 16px;
    @include text-center;
  
    .chat-txt-msg {
        font-size:15px;
        margin:0;
        letter-spacing:-.1px;
        line-height:20px;
    }
}

.loading-text {
    height: 20px;
    color:$secondary;
    margin: 0 auto;
    width: 100px;
    text-align: center;
    font-size: 15px;
}