.cometchat-call-log-history {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cometchat-call-log-history .cometchat-list-item__leading-view,
.cometchat-call-log-history .cometchat-avatar,
.cometchat-call-log-history .cometchat-avatar__image {
    height: 16px;
    width: 16px;
    background: transparent;
    border-radius: 0px;
}

.cometchat-call-log-history__subtitle .cometchat-date {
    overflow: hidden;
    color: var(--cometchat-text-color-secondary, #727272);
    text-overflow: ellipsis;
    font: var(--cometchat-font-body-regular);
    padding: 0px;
}

.cometchat-call-log-history .cometchat-call-log-history__trailing-view {
    overflow: hidden;
    color: var(--cometchat-text-color-primary, #141414);
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font: var(--cometchat-font-body-medium);
}

.cometchat-call-log-history .cometchat-call-log-history__trailing-view-disabled {
    overflow: hidden;
    color: var(--cometchat-text-color-tertiary, #A1A1A1);
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font: var(--cometchat-font-body-medium);
}

.cometchat-call-log-history .cometchat-list-item__trailing-view {
    width: fit-content;
}

.cometchat-call-log-history__shimmer {
    width: 100%;
    height: 100%;
    background: var(--cometchat-background-color-01, #FFF);

  }

  .cometchat-call-log-history__shimmer-item {
    width: 100%;
    height: 65px;
    display: flex;
    min-width: 240px;
    padding: var(--cometchat-padding-3, 12px) var(--cometchat-padding-4, 16px);
    align-items: center;
    gap: 12px;
  }

  .cometchat-call-log-history__shimmer-item-avatar {
    display: flex;
    flex-shrink: 0;
    width: 38px;
    height: 38px;
    border-radius: var(--cometchat-radius-2, 8px);
    background: var(
      --cometchat-shimmer-gradient-color,
      linear-gradient(90deg, #e0e0e0 0%, #eee 100%)
    );
  }

  .cometchat-call-log-history__shimmer-item-body {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;

    gap: var(--cometchat-padding-2, 8px);
  }

  .cometchat-call-log-history__shimmer-item-body-title-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .cometchat-call-log-history__shimmer-item-body-title {
    width: 25%;
    height: 16px;
    flex-shrink: 0;
    border-radius: var(--cometchat-radius-2, 8px);
    background: var(
      --cometchat-shimmer-gradient-color,
      linear-gradient(90deg, #e0e0e0 0%, #eee 100%)
    );
    animation: shimmerAnimation 1.5s infinite linear;

  }

  .cometchat-call-log-history__shimmer-item-body-subtitle {
    width:20%;
    height: 14px;
    flex-shrink: 0;
    border-radius: var(--cometchat-radius-2, 8px);
    background: var(
      --cometchat-shimmer-gradient-color,
      linear-gradient(90deg, #e0e0e0 0%, #eee 100%)
    );
    animation: shimmerAnimation 1.5s infinite linear;

  }

  .cometchat-call-log-history__shimmer-item-body-tail {
    width: 50px;
    height: 16px;
    border-radius: var(--cometchat-radius-2, 8px);
    background: var(
      --cometchat-shimmer-gradient-color,
      linear-gradient(90deg, #e0e0e0 0%, #eee 100%)
    );
    animation: shimmerAnimation 10.5s infinite linear;
  }

  .cometchat-call-log-history .cometchat-list-item {
    padding: var(--cometchat-padding-3, 12px) var(--cometchat-padding-4, 16px);
    cursor: pointer;
  } 

  .cometchat-call-log-history .cometchat-list-item__body {
    padding: 0px;
  }

  @keyframes shimmerAnimation {
      0% {
        background-position: -468px 0;
      }

      100% {
        background-position: 468px 0;
      }
    }