@import '../../resources/core';

.page-int-wrapper {
  display:flex;
  position: fixed;
  height: 100%;
  width: 100%;

  .ccl-left-panel { 
    width: 280px;
    border-right:1px solid $gray-darken;
    height:100vh;
    position:relative;
  }

  .ccl-center-panel {
    height:100vh;
    position: relative;
    padding-top: 71px;
    padding-bottom: 70px;
    flex: 1;
  }

  .ccl-right-panel {
    float:right;
    border-left: 1px solid $gray-darken;
    height:100vh;
    width: 280px;
  }
}

.page-int-wrapper.dark {
  background-color: $dark-background;

  .ccl-left-panel {
    border-right:1px solid $gray-lighten;
  }

  .ccl-right-panel {
    border-left: 1px solid $gray-darken;
  }
}