@import '../../resources/mixins';
@import '../../resources/colors';

.cc1-left-panel-trigger {
    cursor: pointer;
    display: none;
    background: url('./resources/menu-icon.svg') center center no-repeat;
    padding: 20px;
    width: 24px;
    height: 24px;
    float: left;
}

.cc1-chat-win-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;

    .cc1-chat-win-user-thumb { 

        width:36px;
        height:36px;

        img {
            display:block;
            width: 100%;
        } 
    }

    .cc1-chat-win-user-name-wrap {
        width: calc(100% - 40px);
        margin: 0 0 0 5px;
        position: relative;

        display: flex;
        flex-direction: column;

        .cc1-chat-win-user-name {
            margin:0;
            font-size:15px;
            font-weight:600;
            letter-spacing:-.1px;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:hover + .tooltip {
                visibility: visible;
                transition: opacity 0.5s ease;
                opacity: 1;
            }
        }

        .cc1-chat-win-user-status {
            font-size:13px;
            letter-spacing:-.1px;
            line-height:20px;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .cc1-chat-win-user-status.ccl-blue-color {
            color: $blue;
        }

        .cc1-chat-win-user-status.ccl-secondary-color {
            color: $secondary;
        }
        
        .cc1-chat-win-user-status.capitalize {
            text-transform: capitalize;
        }

        .cc1-chat-win-user-status.offline {
            color: $secondary;
        }
    }
}

.cc1-chat-win-con-opt-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 10%;

    .cc1-chat-win-con-opt {
        display:inline-block;
        width:20px;
        height:20px;
        cursor: pointer;
    }

    .cc1-chat-win-con-opt.call {
        background:url(./resources/call-blue-icon.svg) center center no-repeat;
    }

    .cc1-chat-win-con-opt.video-call {
        background:url(./resources/video-call-blue-icon.svg) center center no-repeat;
    }

    .cc1-chat-win-con-opt.details {
        background:url(./resources/details-pane-blue-icon.svg) center center no-repeat;
    }
}

@media (min-width : 320px) and (max-width : 479px) {

    .cc1-chat-win-user {
        width: 60%;
    }

    .cc1-chat-win-con-opt-wrap {
        width: 40%;
    }
}

@media (min-width : 480px) and (max-width : 959px) {

    .cc1-chat-win-user {
        width: 70%;
    }

    .cc1-chat-win-con-opt-wrap {
        width: 30%;
    }
}

@media (min-width : 960px) and (max-width : 1366px) {

    .cc1-chat-win-user {
        width: 80%;
    }

    .cc1-chat-win-con-opt-wrap {
        width: 20%;
    }
}

@media (min-width : 320px) and (max-width : 767px) {

    .cc1-left-panel-trigger {
        display: block;
    }

    .cc1-chat-win-user-name-wrap {
        width: calc(100% - 80px)!important;
    }
}