@import '../../resources/mixins';
@import '../../resources/colors';

.cc1-chat-win-rcvr-row {
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 65%;

    .cc1-chat-win-msg-block {
        flex: 1 1;
        position: relative;
        width: 100%;

        .cc1-chat-win-rcvr-thumbnail-wrap {
            width: 36px;
            float: left;
            margin: 7px 0;
        }

        .cc1-chat-win-rcvr-dtls {
            flex: 1 1;
            display: flex;
            flex-direction: column;
            position:relative;
            margin: 0 5px;

            .cc1-chat-win-rcvr-name-wrap {
                align-self: flex-start;

                .cc1-chat-win-rcvr-name {
                    font-size: 10px;
                    color: $secondary;
                }
            }

            .cc1-chat-win-rcvr-msg-wrap {
                display:inline-block;
                border-radius:12px;
                background-color:rgba(248,248,248,0.92);
                padding:8px 12px;
                align-self: flex-start;
                max-width:100%;
        
                .chat-txt-msg {
                    font-size:15px;
                    margin:0;
                    letter-spacing:-.1px;
                    line-height:20px;
                    white-space: pre-wrap;
                    word-wrap: break-word;
                    text-align: left;
                    max-width:100%;

                    .emoji {
                        width: 20px;
                        height: 20px;
                        image-rendering: -webkit-optimize-contrast;
                        display: inline-block;
                        vertical-align: top;
                        zoom: 1;
                    }
                }

                .chat-txt-msg.size1x {
                    img {
                        width: 48px;
                        height: 48px;
                    }
                }

                .chat-txt-msg.size2x {
                    img {
                        width: 36px;
                        height: 36px;
                    }
                }

                .chat-txt-msg.size2x {
                    img {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
            
            .cc1-chat-win-rcvr-name-wrap + .cc1-chat-win-rcvr-msg-actions {
                top: -15px;
            }
        
            .cc1-chat-win-msg-time-wrap {
                align-self: flex-start;
                
                .cc1-chat-win-timestamp {
                    display:inline-block;
                    font-size:11px;
                    font-weight:500;
                    letter-spacing:-.1px;
                    line-height:12px;
                    text-transform:uppercase;
                    color: $secondary;
                }
            } 

            &:hover .cc1-chat-win-rcvr-msg-actions {
                display: inline-flex;
            }
        }
    }
}

.dark {
    .cc1-chat-win-rcvr-msg-wrap {
        background-color:rgba(51,51,51,0.92);
    }
} 
