@import '../../../resources/mixins';
@import '../../../resources/colors';


.ccl-left-panel-footer-wrap { 
  position:absolute;
  width:100%;
  left:0;
  bottom:0;
  background-color:$light-background;
  z-index:1;

  .ccl-left-panel-nav-listitem {
    display:inline-block;
    width: 25%;
    float:left;
    text-align:center;

    .ccl-left-panel-nav-link{
      display:inherit;
      padding:32px 20px;
    }

    .ccl-left-panel-nav-link.people {
      background:url(./resources/people-grey-icon.svg) center center / 18px 19px no-repeat;
      cursor: pointer;
    }
    .ccl-left-panel-nav-link.people.active {
      background:url(./resources/people-blue-icon.svg) center center / 18px 19px no-repeat;
    }

    .ccl-left-panel-nav-link.call {
      background:url(./resources/call-grey-icon.svg) center center / 18px 19px no-repeat;
      cursor: pointer;
    }
    .ccl-left-panel-nav-link.call.active {
      background:url(./resources/call-blue-icon.svg) center center / 18px 19px no-repeat;
    }

    .ccl-left-panel-nav-link.chat {
      background:url(./resources/chat-grey-icon.svg) center center / 20px 21px no-repeat;
      cursor: pointer;
    }
    .ccl-left-panel-nav-link.chat.active {
      background:url(./resources/chat-blue-icon.svg) center center / 20px 21px no-repeat;
    }

    .ccl-left-panel-nav-link.grp-chat {
      background:url(./resources/group-chat-grey-icon.svg) center center / 20px 21px no-repeat;
      cursor: pointer;
    }
    .ccl-left-panel-nav-link.grp-chat.active {
      background:url(./resources/group-chat-blue-icon.svg) center center / 20px 21px no-repeat;
    }

    .ccl-left-panel-nav-link.more {
      background:url(./resources/more-grey-icon.svg) center center / 20px 21px no-repeat;
      cursor: pointer;
    }      
    .ccl-left-panel-nav-link.more.active {
      background:url(./resources/more-blue-icon.svg) center center / 20px 21px no-repeat;
    }

    .ccl-left-panel-nav-link.chat {
      background:url(./resources/chat-grey-icon.svg) center center / 20px 21px no-repeat;
      cursor: pointer;
    }
    .ccl-left-panel-nav-link.chat.active {
      background:url(./resources/chat-blue-icon.svg) center center / 20px 21px no-repeat;
    }
  }
}

.dark {
  .ccl-left-panel-footer-wrap {
    background-color:$dark-background;
  }

  .ccl-left-panel-nav-link {
  }

  .ccl-left-panel-nav-link.people{
    background:url(./resources/people-light-grey-icon.svg) center center no-repeat;
  }
  .ccl-left-panel-nav-link.people.active {
    background:url(./resources/people-blue-icon.svg) center center no-repeat;
  }

  .ccl-left-panel-nav-link.call{
    background:url(./resources/call-light-grey-icon.svg) center center no-repeat;
  }
  .ccl-left-panel-nav-link.people.active {
    background:url(./resources/call-blue-icon.svg) center center no-repeat;
  }

  .ccl-left-panel-nav-link.chat{
    background:url(./resources/chat-light-grey-icon.svg) center center no-repeat;
  }
  .ccl-left-panel-nav-link.people.active {
    background:url(./resources/chat-blue-icon.svg) center center no-repeat;
  }

  .ccl-left-panel-nav-link.grp-chat{
    background:url(./resources/group-chat-light-grey-icon.svg) center center no-repeat;
  }
  .ccl-left-panel-nav-link.people.active {
    background:url(./resources/group-chat-blue-icon.svg) center center no-repeat;
  }

  .ccl-left-panel-nav-link.more{
    background:url(./resources/more-light-grey-icon.svg) center center no-repeat; 
  }
  .ccl-left-panel-nav-link.people.active {
    background:url(./resources/more-blue-icon.svg) center center no-repeat;
  }

  .ccl-left-panel-nav-link.chat {
    background:url(./resources/chat-light-grey-icon.svg) center center / 20px 21px no-repeat;
  }
  .ccl-left-panel-nav-link.people.active {
    background:url(./resources/chat-blue-icon.svg) center center / 20px 21px no-repeat;
  }

}





// .dark {

//   .tab {

//     background-color: $dark-background;
//     button {
//       background-color: $dark-background;
//       color: $dark-primary-text;

//   }
// }
// }
// .light {
//   .tab{
//     background-color: $light-background;
//     button {
//       background-color: $light-background;
//       color:  $light-primary-text
//   }

//   }
  
// }

// /* Style the tab */
// .tab {
//     // overflow: hidden;
//     // position: absolute;
//     display: flex;
//     position: absolute;
//     width: 100%;
//     left: 0;
//     bottom: 15px;
//     background-color: #fff;
//     // z-index: 1;
//   }
  
//   /* Style the buttons inside the tab */
//   .tab button {
//     border: none;
//     // background: white;
//     // padding: 15px;

//     display: inline-block;
//     text-align: center;
//     margin: auto;
//   }
  
//   /* Change background color of buttons on hover */
//   .tab button:hover {
//     color: #309aff;
//   }
  
//   /* Create an active/current tablink class */
//   .tab button.active {
//     color: #309aff;
//   }
  
//   /* Style the tab content */
 
//   button:focus {
//     outline: none !important;
//   }
//   .cp-navbar{
//     height: 100%;
//     overflow: hidden;

//   }