@import '../../resources/mixins';
@import '../../resources/colors';

.cc1-chat-win-replies {
    display:inline-block;
    font-size:11px;
    font-weight:500;
    letter-spacing:-.1px;
    line-height:12px;
    text-transform: lowercase;
    padding: 0 10px;
    cursor: pointer;
    color: $blue;

    &:hover {
        text-decoration: underline;
    }
}