@import '../../../../resources/core';

.cc1-chat-win-sndr-row {
    text-align:right;
    margin-bottom:16px;

    .cc1-chat-win-msg-block {
        display:inline-block;
        position:relative;

        .cc1-chat-win-sndr-video-wrap {
            display:inline-block;
            border-radius:12px;
            padding:8px 12px;

            video {
                max-width: 250px;
                display: inherit;
            }
        }
    }
}