@import '../../resources/mixins';
@import '../../resources/colors';

.ccl-dtls-panel-wrap.groupdetail {

    .ccl-right-panel-head-wrap { 
        padding:20px 16px;
        position:relative;

        .ccl-right-panel-head-ttl { 
            margin:0;
            font-weight:700;
            letter-spacing:-.5px;
        }
    }

    .ccl-dtls-panel-body {
        padding:16px;
    
        .ccl-dtls-noti-sel-wrap { 
            margin-bottom:30px;

            input[type="checkbox"] {
                display: none;
            }

            input[type="checkbox"] + label {
                display:block;
                cursor:pointer;
                background:url(./resources/checkbox-inactive.svg) right center / 16px no-repeat;
                font-size:15px;
                letter-spacing:-.1px;
                line-height:23px;
                user-select:none;
                @include semi-bold-text;
            }

            input[type=checkbox]:checked+label {
                background: url(./resources/checkbox-blue-active.svg) no-repeat right center;
                background-size: 16px;
            }
        }

        .ccl-dtls-grp-admin-cnt-wrap {
            margin-top:-10px;
            margin-bottom:30px;
        
            .ccl-dtls-grp-admin-ttl {
                font-size:15px;
                letter-spacing:-.1px;
                line-height:22px;
                display:inline-block;
                width:88%;
                vertical-align:middle;
            }

            .ccl-dtls-grp-admin-cnt {
                display:inline-block;
                width:10%;
                text-align:right;
                vertical-align:middle;
                color:$secondary;
            }
        }

        .ccl-dtls-panel-section {
            margin-bottom:30px;
        
            .ccl-dtls-panel-section-head {
                margin:0;
                font-size:12px;
                letter-spacing:-.1px;
                line-height:20px;
                color:$secondary;
                @include text-uppercase;
            }

            .chat-ppl-list-wrap {

                .chat-ppl-listitem {
                    position:relative;
                    margin-top:-1px;
                    cursor:pointer;
                    display:flex;
                    padding:13px 0 0;
                    @include clearfix;

                    .chat-ppl-thumbnail-wrap {
                        display: inline-block;
                        margin: 9px 9px 0 0;
                        padding-bottom: 14px;
                        width: 20px;

                        img {
                            display: block;
                            overflow:hidden;
                            width: 20px;
                        }
                    }

                    .chat-ppl-listitem-dtls { 
                        float:left;
                        margin-top:9px;
                        display: inline-block;
                        flex: 1 1;
                        padding-bottom: 14px;
                       
                        .chat-ppl-listitem-name {
                            display: inline-block;
                            vertical-align: middle;
                            width: 72%;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            max-width: none;
                            font-size:15px;
                            font-weight:600;
                            letter-spacing:-.1px;
                            overflow:hidden;
                        }

                        .chat-ppl-listitem-role {
                            display:inline-block;
                            vertical-align:middle;
                            width:25%;
                            text-align:right;
                            font-size:12px;
                            text-transform: capitalize;
                        }
                    }
                    
                } 
            }

            .ccl-dtls-section-list {
    
                .ccl-dtls-section-listitem{
    
                    .ccl-dtls-section-listitem-link { 
                        font-size:15px;
                        letter-spacing:-.1px;
                        line-height:20px;
                        padding:6px 0;
                        display:inline-block;
                        color: $red; 
                        cursor: pointer;
                        @include semi-bold-text;
                    }
                }
            }
        }
    }
}

.dark {
    .chat-ppl-listitem-dtls {
        border-bottom:1px solid #484848;
    }

    .ccl-dtls-panel-media-fltrs { 
        background-color:$dark-border;
    }
}