@import '../../../../resources/core';

.cc1-chat-win-sndr-row {
    text-align:right;
    margin-bottom:16px;

    .cc1-chat-win-msg-block {
        display:inline-block;
        position:relative;

        .cc1-chat-win-sndr-file-wrap {
            display:inline-block;
            border-radius:12px;
            background-color:$blue;
            color:#fff;
            padding:8px 12px;

            a {
                color:white;
                max-width: 250px;
                
                img {
                    background-color: white;
                }
            }
        }
        .cc1-chat-win-msg-time-wrap {

            .cc1-chat-win-timestamp {
                display:inline-block;
                font-size:11px;
                font-weight:500;
                letter-spacing:-.1px;
                line-height:12px;
                text-transform:uppercase;
                margin-top:5px;
                margin-right:5px;

                img {
                    margin-left:3px;
                    display:inline-block;
                    vertical-align:bottom;
                }
            }

        }
    }
}