@import '../../resources/core';

.ccl-left-panel-head-wrap {
    padding:20px 16px;
    position:relative;

    .ccl-left-panel-head-ttl {
        margin:0;
        font-weight:700;
        letter-spacing:-.5px;
    }
}

.ccl-left-panel-srch-wrap{
    padding:0 16px 18px;
    border-bottom:1px solid #fbfbfb;

    .ccl-left-panel-srch-inpt-wrap {
        position:relative;

        .ccl-left-panel-srch {
            display:block;
            width:100%;
            border:0;
            box-shadow:rgba(20,20,20,0.04) 0 0 0 1px inset;
            border-radius:8px;
            background-color:rgba(20,20,20,0.04);
            letter-spacing:-.1px;
            line-height:20px;
            padding:6px 8px 6px 30px;
            @include font-15;
            color: $secondary;
        }

        .search-btn{
            width:14px;
            height:14px;
            display:block;
            position:absolute;
            left:9px;top:9px;
            background:url(./resources/search-grey-icon.svg) center center no-repeat;
        }
    }
}

.chat-contact-list-ext-wrap {
    padding:16px;
    height:calc(100vh - 164px);
    overflow-y:auto;
}

@media (min-width : 320px) and (max-width : 767px) {
    .ccl-left-panel-head-ttl {
        text-align:center;
    }
}

.dark {
    .ccl-left-panel-srch-wrap {
        border-bottom:none;

        .ccl-left-panel-srch {
            background-color:rgba(255,255,255,0.08);
            box-shadow:rgba(255,255,255,0.04) 0 0 0 1px inset;
            color:#cccbcb;
            color: $dark-secondary;
        }

        .search-btn{
            background:url(./resources/search-white-icon.svg) center center no-repeat;
        }
    }
}