@import '../../resources/mixins';
@import '../../resources/colors';

.cc1-chat-thread-header {
    padding: 12px 16px;
    width:100%;
    background-color: $light-background;
    z-index:1;
    border-bottom: 1px solid $light-background-border;
    

    .cc1-chat-thread-header-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width:100%;
    

        .cc1-chat-thread-user-name-wrap {
            display: flex;
            flex-direction: column;
            width: calc(100% - 60px);

            .cc1-chat-thread-user-name-ttl {
                margin:0;
                font-size:15px;
                font-weight:600;
                letter-spacing:-.1px;
                line-height:22px;
                width: 100%;
            }

            .cc1-chat-thread-user-name {
                font-size:13px;
                letter-spacing:-.1px;
                line-height:20px;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .cc1-chat-thread-close {
            cursor: pointer;
            background: url('./resources/clear.svg') center center no-repeat;
            width: 24px;
            height: 24px;
        }

    }
}

.cc1-chat-thread-message-container {
    
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    transition: background .3s ease-out .1s;
    width: 100%;
    z-index: 100;
    min-height: calc(100% - 72px);
    order: 2;
    height: auto;
    

    .cc1-chat-thread-parent-messsage {
        padding: 14px 16px;

        .cc1-chat-win-parent-msg-block {
            display: flex;
            flex-direction: column;

            .cc1-chat-win-parent-msg-wrap {
                display: inline-block;
                padding: 8px 12px;
                border-radius:12px;
                height: 100%;
                max-width: 100%;

                .chat-txt-msg {
                    font-size: 15px;
                    margin: 0;
                    letter-spacing: -.1px;
                    line-height: 20px;
                    white-space: pre-wrap;
                    word-wrap: break-word;
                    text-align: left;
                }

                img {
                    max-width: 100%;
                }

                a {
                    color:white;
                    max-width: 100%;
                    
                    img {
                        background-color: white;
                    }
                }

                audio,
                video {
                    max-width: 100%;
                    display: inherit;
                }
            }
            
            .cc1-chat-win-parent-time-wrap{
                
                .cc1-chat-win-timestamp {
                    display: inline-block;
                    font-size: 11px;
                    font-weight: 500;
                    letter-spacing: -.1px;
                    line-height: 12px;
                    text-transform: uppercase;
                    padding: 0 12px;
                }
            }
        }

        .cc1-chat-win-parent-msg-block.sender {
            align-items: flex-end;

            .cc1-chat-win-parent-msg-wrap {
                background-color:$blue;
                color:#fff;
            }
        }
        
        .cc1-chat-win-parent-msg-block.receiver {
            align-items: flex-start;

            .cc1-chat-win-parent-msg-wrap {
                background-color:rgba(248,248,248,0.92);

                a {
                    color: #141414;
                }
            }
        }

    }

    .cc1-chat-thread-parent-message-separator {
        display: flex;
        align-items: center;
        position: relative;
        margin: 0 16px 14px 16px;
        align-items: center;
        height: 15px;

        .replies {
            margin-right: 12px;
            font-size: 12px;
        }

        hr {
            flex: 1;
            margin: 1px 0 0 0;
            border-top: 1px solid $light-background-border;
        }
    }

    .cc1-chat-win-conver-wrap {
        min-height: 250px;
        height: 100%;

        .cc1-chat-win-conver-list-wrap {
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }

        .cc1-chat-win-conver-list-wrap::-webkit-scrollbar {
            display: none;
        }

        .cc1-chat-win-rcvr-dtls:hover .cc1-chat-win-msg-actions,
        .cc1-chat-win-msg-block:hover .cc1-chat-win-msg-actions {
            display: none;
        }
    }
}