@import '../../resources/mixins';
@import '../../resources/colors';

.ccl-left-panel-head-wrap { 
    padding:20px 16px;
    position:relative;

    .ccl-left-panel-head-ttl {
        margin:0;
        font-weight:700;
        letter-spacing:-.5px;
    }

    .ccl-left-panel-head-edit-link {
        position:absolute;
        right:14px;
        top:23px;
        display:block;
        width:20px;
        height:20px;
        background:url(./resources/edit-blue-icon.svg) center center no-repeat;
        cursor: pointer;
    }

}

.ccl-left-panel-srch-wrap {
    padding:0 16px 18px;
    border-bottom:1px solid #fbfbfb;

    .ccl-left-panel-srch-inpt-wrap {
        position:relative;

        .ccl-left-panel-srch {
            display:block;
            width:100%;
            border:0;
            box-shadow:rgba(20,20,20,0.04) 0 0 0 1px inset;
            border-radius:8px;
            background-color:rgba(20,20,20,0.04);
            letter-spacing:-.1px;
            line-height:20px;
            padding:6px 8px 6px 30px;
            @include font-15;
            color: $secondary;
        }

        .search-btn {
            width:14px;
            height:14px;
            display:block;
            position:absolute;
            left:9px;
            top:9px;
            background:url(./resources/search-grey-icon.svg) center center no-repeat;
        }
    }
}

.chat-ppl-list-ext-wrap.groups { 
    height:calc(100vh - 184px);
    overflow-y:auto;
}

.dark {
    .ccl-left-panel-srch-wrap {
        border-bottom:none;
    }

    .ccl-left-panel-srch {
        background-color:rgba(255,255,255,0.08);
        box-shadow:rgba(255,255,255,0.04) 0 0 0 1px inset;
        color:#cccbcb;
    }

}


@media (min-width : 320px) and (max-width : 767px) {

    .ccl-left-panel-head-ttl {
        text-align:center;
    }
}

// @import '../../resources/mixins';
// @import '../../resources/colors';

// //dark
// .dark {
//     .cp-userlist {
//         background-color: $dark-background;


//         .cp-list-seperator {
//             border-bottom: 1px solid $gray-darken;
//         }
//     }
//     .cp-contact-list-title{
//         color: $dark-primary-text;
//     }
//     .cp-contact-alphabet{
//         color: $dark-primary-text;
//     }
// }

// //light
// .light {
//     .cp-userlist {
//         background-color: $light-background;


//         .cp-list-seperator {
//             border-bottom: 1px solid $gray-lighten;
//         }


//     }
//     .cp-contact-list-title{
//         color: $light-primary-text;
//     }
//     .cp-contact-alphabet{
//         color: $light-primary-text;
//     }

// }

// //generic
// .cp-grouplist-wrapper{
//     height: 100%;
//     overflow: hidden;
//     margin: 0px 0px 0px 10px;
// .cp-userlist {
//     height: 100%;
//     overflow-y: auto;
//     overflow-x: hidden;
//     padding-bottom: 110px;

//     .cp-list-seperator {
//         margin-left: 64px;
//         border-bottom: 1px solid $gray-lighten;
//     }

// }
// .cp-contact-alphabet{
//     margin-left: 10px;
//     padding: 5px;
// }


// .cp-contact-list-title{
//     margin: 15px 15px;
// }

// .cp-searchbar {
//     margin-left: 15px;
//     margin-right: 10px;

//     input {
//         background-color: #f6f6f6;
//         background-image: url('./resources/search-grey-icon.svg');
//         background-repeat: no-repeat;
//         background-position: 6.5px 11.5px ;
//         border: 1px solid #e8e8e8;
//         border-radius: 5px;
//         width: 100%;
//         padding-left: 27px;
//         padding-right: 10px;
//         height: 40px;
//     }
// }
// }