ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.home__screen {
	display: flex;
	height: 100vh;
	width: 100vw;
}

.home__screen__sidebar {
	width: 380px;
	height: 100%;
	position: relative;
	padding: 15px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.home__screen__main {
	width: calc(100% - 380px);
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

.sidebar__footer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0;
	margin: auto;
	width: 100%;
	margin-bottom: 8px;
}

.navbar {
	padding: 8px 8px 8px 16px;
	height: 44px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-basis: 6%;
}

.navbar__left {
	display: flex;
}

.navbar__right {
	display: flex;
	top: 0;
	z-index: 100;
}

.navbar__right .logout__icon {
	margin: 8px;
	cursor: pointer;
}

.navbar__right .theme__mode {
	margin: 8px;
	cursor: pointer;
}

.contentHeading {
	padding: 0px 30px;
	line-height: 0;
}

.content {
	display: flex;
	padding: 0px 30px;
	height: fit-content;
	width: 100%;
	flex-wrap: wrap;
}

.login__wrapper {
	height: 100vh;
	width: 100vw;
	overflow-y: auto;
}
.login__page {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;
	width: 75%;
	margin: auto;
	padding: 0 8px;
}
.login__page .header__section {
	padding: 10px 0;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
.login__page .content__section {
	display: flex;
	padding: 8px 0;
	width: 100%;
	justify-content: space-between;
}
.login__page .content__section .left__content {
	height: 100%;
	width: 50%;
}
.login__page .content__section .left__content .login__container {
	height: 100%;
	width: 100%;
	margin-top: 8px;
	padding: 24px 8px;
	border-radius: 8px;
}
.login__page .content__section .left__content .login__container .sample__users {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-around;
}
.login__page .content__section .left__content .login__container .login__header {
	margin-left: 16px;
}
.login__page .content__section .left__content .login__container .cards {
	cursor: pointer;
	display: flex;
	border-radius: 8px;
	padding: 8px;
	align-items: center;
	justify-content: flex-start;
	margin: 8px 4px;
	flex-basis: 45%;
}
.login__page
	.content__section
	.left__content
	.login__container
	.cards
	.user__details {
	margin-left: 8px;
}
.login__page .content__section .left__content .login__container .login__field {
	display: flex;
	flex-direction: column;
	margin-top: 24px;
	padding: 12px;
	height: 190px;
	justify-content: space-evenly;
}
.login__page
	.content__section
	.left__content
	.login__container
	.login__field
	input {
	height: 42px;
	border-radius: 12px;
	padding: 8px;
	background: transparent;
	outline: none;
}
.login__page
	.content__section
	.left__content
	.login__container
	.login__field
	input::placeholder {
	color: #a9a9a9;
}
.login__page
	.content__section
	.left__content
	.login__container
	.login__field
	.login__button {
	height: 38px;
	width: 100%;
	border-radius: 8px;
	border: none;
}
.login__page
	.content__section
	.left__content
	.login__container
	.signup__section {
	margin-top: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.login__page
	.content__section
	.left__content
	.login__container
	.signup__section
	button {
	padding: 4px;
	margin-top: 16px;
}
.login__page .content__section .right__content {
	width: 50%;
	margin-left: 2px;
	display: flex;
	flex-direction: column;
	flex-shrink: 1;
	flex-grow: 1;
}
.login__page .footer__section {
	margin-bottom: 8px;
	bottom: 0;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
	width: 100%;
}
button {
	cursor: pointer;
}
.error__text {
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: -15px;
	position: relative;
	padding: 0 12px;
}

.signup__wrapper {
	height: 100vh;
	width: 100vw;
	overflow-y: auto;
}
.signup__page {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;
	width: 75%;
	margin: auto;
	padding: 0 8px;
}
.signup__page .header__section {
	padding: 8px 0;
	flex-basis: 6%;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
.signup__page .content__section {
	flex-basis: 75%;
	display: flex;
	padding: 8px 0;
	width: 100%;
	justify-content: space-between;
}
.signup__page .content__section .content__title {
	margin: 8px 0 16px 0;
}
.signup__page .content__section .left__content {
	height: 100%;
	width: 50%;
}
.signup__page .content__section .left__content .signup__container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 100%;
	margin-top: 8px;
	padding: 8px 8px 24px 8px;
	border-radius: 8px;
}
.signup__page .content__section .left__content .signup__container .uid__field {
	display: flex;
	flex-direction: column;
	margin-bottom: 8px;
}
.signup__page
	.content__section
	.left__content
	.signup__container
	.uid__field
	label {
	padding: 8px;
}
.signup__page .content__section .left__content .signup__container .name__field {
	display: flex;
	flex-direction: column;
	margin-bottom: 8px;
}
.signup__page
	.content__section
	.left__content
	.signup__container
	.name__field
	label {
	padding: 8px;
}
.signup__page
	.content__section
	.left__content
	.signup__container
	.uid__generator {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin: 12px 0;
}
.signup__page
	.content__section
	.left__content
	.signup__container
	.sample__users {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-around;
}
.signup__page
	.content__section
	.left__content
	.signup__container
	.signup__header {
	margin-left: 16px;
}
.signup__page .content__section .left__content .signup__container .cards {
	cursor: pointer;
	display: flex;
	border-radius: 8px;
	padding: 8px;
	align-items: center;
	justify-content: flex-start;
	margin: 8px 4px;
	min-width: 180px;
	max-width: 260px;
	flex-basis: 45%;
	flex-shrink: 1;
	flex-grow: 1;
}
.signup__page
	.content__section
	.left__content
	.signup__container
	.cards
	.user__details {
	margin-left: 8px;
}
.signup__page
	.content__section
	.left__content
	.signup__container
	.signup__field {
	display: flex;
	flex-direction: column;
	padding: 8px;
	justify-content: space-evenly;
}
.signup__page
	.content__section
	.left__content
	.signup__container
	.signup__field
	input {
	height: 42px;
	border-radius: 12px;
	padding: 8px;
	background: transparent;
	outline: none;
}
.signup__page
	.content__section
	.left__content
	.signup__container
	.signup__field
	input::placeholder {
	color: #a9a9a9;
}
.signup__page
	.content__section
	.left__content
	.signup__container
	.signup__section {
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.signup__page
	.content__section
	.left__content
	.signup__container
	.signup__section
	button {
	padding: 4px;
}
.signup__page
	.content__section
	.left__content
	.signup__container
	.signup__section
	.signup__button {
	height: 38px;
	width: 100%;
	border-radius: 8px;
	border: none;
}
.signup__page .content__section .right__content {
	margin-left: 2px;
	width: 50%;
	display: flex;
	flex-direction: column;
}
.signup__page .footer__section {
	flex-basis: 6%;
	margin-bottom: 8px;
	bottom: 0;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
	width: 100%;
}
button {
	cursor: pointer;
}
/* checkbox style */
.checkbox__container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* Hide the browser's default checkbox */
.checkbox__container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 24px;
	width: 24px;
	background-color: #eee;
	border-radius: 4px;
}
/* On mouse-over, add a grey background color */
.checkbox__container:hover input ~ .checkmark {
	background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.checkbox__container input:checked ~ .checkmark {
	background-color: #2196f3;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
/* Show the checkmark when checked */
.checkbox__container input:checked ~ .checkmark:after {
	display: block;
}
/* Style the checkmark/indicator */
.checkbox__container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.error__text {
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: -15px;
	position: relative;
	padding: 0 12px;
}

@media (min-width: 320px) and (max-width: 767px) {
	.left__content {
		width: 100% !important;
		height: 100% !important;
	}
	.right__content {
		/* display: none !important; */
		/* width: 0% !important; */
        
	}
    .cards{
        width: fit-content !important;
    }
	.signup__page {
		width: 98% !important;
	}
}

@media (min-width: 320px) and (max-width: 767px) {
	.left__content {
		width: 100% !important;
		height: 100% !important;
	}
    .cards{
        width: fit-content !important;
    }
	.right__content {
		/* display: none !important; */
		/* width: 0% !important; */
	}
	.login__wrapper {
		/* height: max-content !important; */
		height: "100%";
	}
	.footer__section {
		position: initial !important;
	}
	.login__page {
		width: 98% !important;
	}
	.signup__section {
		margin-top: 20px !important;
	}
}

@media only screen and (max-width: 767px) {
	.home__screen__sidebar {
		position: absolute !important;
		top: 0;
		bottom: 0;
		width: 100% !important;
		z-index: 2;
	}
	.home__screen__main {
		width: 100% !important;
        z-index: 4;
	}
    .content {
        display: flex;
        flex-direction: column;
        padding: 0px 30px;
        height: fit-content;
        width: 100%;
    }
}
